# Jupyter Notebook specific
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.ipynb_metadata
*.so

# Python specific
__pycache__/
*.py[cod]
*$py.class

# macOS specific
.DS_Store
.AppleDouble
.LSOverride
.DS_Store?
._*

# Environment
.env
.venv
env/
venv/
ENV/

# OpenAI API Keys
.env*

# IDE specific
.vscode/
.idea/
*.swp
*.swo

# Project specific
Cheatsheets/
Tutorial\ Files\ from\ Coursera/

# Large files
Various\ datasets/World-Development-Indicators/WDICSV.csv